@import url("./Assets/Styles/utilts.css");
@import url("./Assets/Styles/variables.css");
@import url("./Assets/Styles/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: "NotoSansJP", sans-serif;
}
